@font-face {
  font-family: 'Roboto';
  src:
    url('../../assets/fonts/roboto-400-regular.woff2') format('woff2'),
    url('../../assets/fonts/roboto-400-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../../assets/fonts/roboto-900.woff2') format('woff2'),
    url('../../assets/fonts/roboto-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
}

.modal__content {
  background-color: #fff;
  border-radius: 16px;
  padding: 34px 36px;
  width: 430px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', serif;
  font-weight: 400;
}

.modal__close {
  position: absolute;
  top: -50px;
  right: -50px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s ease-in-out;
}
.modal__close:hover {
  color: #000;
}

.modal__title {
  margin: 0 0 1.5rem 0;
  font-size: 24px;
  font-weight: 900;
  color: #1a1b22;
  font-family: 'Roboto', serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.modal__label {
  font-size: 12px;
  color: #2f71e5;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.modal__input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.modal__input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
  outline: none;
}

.modal__input_error {
  border-color: #e74c3c;
}

.modal__submit {
  padding: 20px 114px;
  font-size: 18px;
  background-color: #e6e8eb;
  color: #b6bcbf;
  border: none;
  margin-top: 8px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal__submit:hover:not(:disabled) {
  background-color: #0056b3;
  color: white;
}

.modal__submit:disabled {
  background-color: #E6E8EB;
  color: #B6BCBF;
}

.modal__redirect {
  margin-top: 0.8rem;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
}

.modal__redirect .signup-text {
  color: #2f71e5;
}

.success {
  margin-top: 16px;
  color: green;
  font-size: 14px;
}

