@font-face {
  font-family: 'Roboto-Slab';
  src:
    url('../../assets/fonts/roboto-slab-700.woff2') format('woff2'),
    url('../../assets/fonts/roboto-slab-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
  padding: 19px 104px 13px;
  display: flex;
  gap: 42px;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navigation__logo {
  color: white;
  text-decoration: none;
  font-family: 'Roboto-Slab', serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
  position: relative;
}

.navigation.navigation--saved-page{
  border-bottom: 2px solid #D1D2D6;
}

.navigation--saved-page .navigation__link {
  color: black;
}

.navigation--saved-page .navigation__logo {
  color: black;
}

.navigation--saved-page .navigation__signin-button {
  color: black;
  border-color: black;
}

.navigation--saved-page .navigation__link::after {
  background-color: black;

}

.navigation__link {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', serif;
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.navigation__link:hover::after {
  opacity: 1;
}

.signout__button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 12px 60px;
  font-size: 18px;
  font-family: 'Roboto', serif;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signout__button:hover {
  background-color: white;
  color: #1a1b22;
}

.signout__button:active {
  opacity: 0.8;
}

.navigation__signin-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 12px 60px;
  font-size: 18px;
  font-family: 'Roboto', serif;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation__signin-button:hover {
  background-color: #E8E8E8;
  color: #1a1b22;
}

.navigation__signin-button:active {
  opacity: 0.8;
}

.navigation__logo-saved-page {
  color: black;
  text-decoration: none;
  font-family: 'Roboto-Slab', serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
  position: relative;
}

@media (max-width: 768px) {
  .navigation {
    padding: 15px 20px;
  }

  .navigation__link {
    font-size: 16px;
    margin-right: 15px;
  }

  .navigation__button {
    padding: 10px 117px;
    font-size: 16px;
  }
}
