@font-face {
  font-family: 'Roboto-Slab';
  src:
    url('../../assets/fonts/roboto-slab-400-regular.woff2') format('woff2'),
    url('../../assets/fonts/roboto-slab-400-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../../assets/fonts/roboto-500.woff2') format('woff2'),
    url('../../assets/fonts/roboto-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/images/headercontent.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 576px;
  justify-content: center;
  position: relative;
}

.header__content {
  position: relative;
  margin-top: 160px;
}

.home-page__title {
  max-width: 608px;
  color: white;
  margin: 0;
  font-size: 60px;
  line-height: 64px;
  padding: 0 0 32px 0;
  font-family: 'Roboto-Slab', serif;
  font-weight: 400;
}

.home-page__search {
  display: flex;
  flex-direction: column;
}

.home-page__subtitle {
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  margin-bottom: 88px;
  margin-top: 0;
}

@media (max-width: 768px) {
  .header__content {
    position: relative;
    margin-top: 104px;
  }

  .home-page__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }

  .home-page__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .home-page__search {
    width: 452px;
  }
}

@media (max-width: 320px) {
  .home-page__search {
    width: 288px;
  }

  .home-page__subtitle {
    margin-bottom: 122px;
  }
}
