.saved-news-page__header {
  position: relative;
  margin: 120px 104px 0;
}

.saved-news-page__subtitle {
  font-family: 'Roboto', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b22;
  opacity: 50%;
}

.saved-news-page__title {
  font-family: 'Roboto-Slab', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.saved-news-page__info {
  font-family: 'Roboto', serif;
  font-size: 18px;
  line-height: 24px;
}

.saved-news-page__results {
  background-color: #f5f6f7;
  min-height: 200px;
}

@media (max-width: 768px) {
  .saved-news-page__results {
    padding: 0 104px;
    display: grid;
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
    justify-content: center;
  }

  .saved-news-page__subtitle {
    font-size: 14px;
  }

  .saved-news-page__title {
  font-family: 'Roboto-Slab', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}
}
