.news-card {
  display: flex;
  flex-direction: column;
  min-height: 576px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.news-card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
  display: block;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px 24px;
}

.news-card__date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
}

.news-card__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 0 16px;
  overflow: hidden;
}

.news-card__description {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0 0 auto;
  overflow: hidden;
}

.news-card__source {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 20px 0 0;
}

.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s,
    background-color 0.3s;
}

.news-card__save-button::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/normal.svg');
}

.news-card__save-button_active {
  opacity: 1;
}

.news-card__save-button_active::after {
  background-image: url('/assets/images/marked.svg');
}

.news-card__save-button:hover {
  background-image: url('/assets/images/hover.svg');
}

.news-card__delete-button{
  background-image: ;
}

@media screen and (max-width: 768px) {
  .news-card {
    min-height: 420px;
    max-width: 224px;
  }
  .news-card__image {
    height: 150px;
  }
  .news-card__content {
    padding: 16px;
  }
}

@media screen and (max-width: 320px) {
  .news-card {
    min-height: 420px;
    max-width: 288px;
  }
  .news-card__image {
    height: 150px;
  }
}
